LOG_LEVEL="info"                                # debug, info, warn, error, fatal

GRPC_PORT="50052"

POSTGRES_DSN="postgres://postgres:postgres@auth-db:5432/auth?sslmode=disable"
POSTGRES_MIN_CONNS="1"
POSTGRES_MAX_CONNS="10"
POSTGRES_TIMEOUT="5s"
POSTGRES_MAX_CONN_IDLE_TIME="30s"
POSTGRES_MAX_CONN_LIFE_TIME="5m"

JWT_SECRET="dev-secret"
ACCESS_TOKEN_TTL="1d"